.container {
  display: flex;
  flex-direction: row; 
  padding: 10px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #111;
  color: #fff;
}

.leftSection, .rightSection {
  flex: 1; 
  margin: 10px;
  border: 2px solid #32cd32;
  max-height: 100%;
  padding: 20px;
  box-shadow: 0 0 20px #32cd32;
  background-color: #111;
  border-radius: 10px;
  width: 45vw;
  overflow-y: auto;
}

.eachSlide {
  position: relative;
  max-height: 80%;
}

.imageSection {
  width: 100%;
  height: 45vh; 
  flex-direction: column;
  margin-top: 10px;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameImage {
  max-height: 100%;
  object-fit: contain; 
  border-radius: 15px;
  box-shadow: 0 0 20px #32cd32;
}

.instructionsSection {
  width: 45vw; 
  padding: 15px;
  margin-top: 10px;
  border: 2px solid #32cd32;
  border-radius: 10px;
  box-shadow: 0 0 10px #32cd32;
  background-color: #111;
}

.instructionsContent {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  height: 46vh;
  overflow-y: auto; 
}

.leftUpperSection, .leftLowerSection {
  flex: 1;
  margin: 10px;
  height: 40vh;
  padding: 20px;
  background-color: #111;
}

.sectionTitle {
  color: #32cd32;
  font-size: 28px;
  text-shadow: 0 0 10px #32cd32;
  text-align: center;
  margin-bottom: 20px;
}

.selectionSectionTitle {
  color: #32cd32;
  font-size: 20px;
  text-shadow: 0 0 10px #32cd32;
  text-align: center;
  margin-bottom: 10px;
}

.gameStatus {
  font-size: 20px;
  color: #32cd32;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #32cd32;
}

.scoreTable, .highScores, .levelSelector {
  border: 2px solid #32cd32;
  box-shadow: 0 0 10px #32cd32;
  padding: 10px;
  height: 30vh;
  margin-top: 20px;
  background-color: #111;
  border-radius: 10px;
  overflow-y: auto;
}

.gameOptions {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
  border: 2px solid #32cd32;
  box-shadow: 0 0 10px #32cd32;
  padding: 10px;
  margin-top: 20px;
  background-color: #111;
  border-radius: 10px;
  max-height: 400px; 
  overflow-y: auto; 
}

.tableRow {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #32cd32;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scoreCategories {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  flex-wrap: wrap;
}

.scoreBox {
  text-align: center;
  border: 2px solid #32cd32;
  box-shadow: 0 0 10px #32cd32;
  padding: 15px;
  background-color: #222;
  margin: 10px;
  flex: 1 1 30%;
  min-width: 100px;
}

.scoreTitle {
  font-weight: bold;
  margin-bottom: 5px;
  color: #32cd32;
}

.scoreValue {
  font-size: 22px;
}

.startButton, .gameOption {
  background-color: #32cd32;
  border: none;
  padding: 15px 30px;
  margin: 15px 0;
  cursor: pointer;
  font-size: 18px;
  color: #000;
  box-shadow: 0 0 10px #32cd32;
  width: 100%;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.startButton:disabled {
  background-color: #555;
  color: #888;
  cursor: not-allowed;
  box-shadow: none;
}

.startButton:hover:not(:disabled) {
  background-color: #28a745;
  transform: scale(1.05);
}

.levelDots {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.dot {
  height: 20px;
  width: 20px;
  margin: 0 10px;
  background-color: #32cd32;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.selected, .gameOption.selected {
  background-color: #28a745;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

.modalContent {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  max-width: 50%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
  color: #fff;
  border: 2px solid #32cd32;
  box-shadow: 0 0 20px #32cd32;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #32cd32;
  border: none;
  color: #000;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.closeButton:hover {
  background: #28a745;
}

.scanningContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #111, #222);
  color: #fff;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.titleContainer {
  text-align: center;
  margin-bottom: 20px;
}

.scanningTitle {
  font-size: 36px;
  color: #32cd32;
  text-shadow: 0 0 15px #32cd32, 0 0 30px #28a745;
  text-transform: uppercase;
}

.scanMessage {
  font-size: 28px;
  color: #ccc;
  text-shadow: 0 0 10px #32cd32;
  margin-top: 10px;
}

.containerScanning {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #111;
  color: #fff;
  overflow: hidden; /* Prevent scrollbars on the main container */
}

.leftSectionScanning {
  flex: 1;
  margin: 10px;
  border: 2px solid #32cd32;
  height: calc(100vh - 40px); /* Adjust for padding and margins */;
  max-height: calc(100vh - 80px); /* Adjust for padding and margins */
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 20px #32cd32;
  background-color: #111;
  border-radius: 10px;
  overflow: hidden; /* Disable internal scrollbars */
}

.rightSectionScanning {
  flex: 1;
  margin: 10px;
  border: 2px solid #32cd32;
  height: calc(100vh - 40px); /* Adjust for padding and margins */
  max-height: calc(100vh - 80px); /* Adjust for padding and margins */
  padding: 20px;
  box-shadow: 0 0 20px #32cd32;
  background: rgba(19, 56, 2, 0.2);;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: space-between; /* Evenly distribute items */
  align-items: center; /* Center items horizontally */
  overflow: hidden; /* Disable internal scrollbars */
}


.eachSlideScanning {
  position: relative;
  max-height: 100%;
}

.gameImageScanning {
  width: 100%;
  height: 100%; /* Ensure the image scales fully */
  object-fit: cover; /* Maintain aspect ratio while covering the area */
  border-radius: 10px;
  box-shadow: 0 0 20px #32cd32;
}

.captionScanning {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #32cd32;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%; /* Fixed height for stability */
  max-height: 80%; /* Ensure image area doesn't exceed this height */
}

.scan {
  position: relative;
  width: 50%;
  height: 80%;
  margin: 20px auto;
}

.scan div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid #32cd32;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: ripple 2.5s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

.scan div:nth-child(2) {
  animation-delay: -0.5s;
}

.scan div:nth-child(3) {
  animation-delay: -1s;
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0.8;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.handImage {
  max-width: 80%; /* Ensure it scales proportionally */
  height: auto;
  filter: drop-shadow(0 0 20px #32cd32);
  transition: transform 0.3s ease-in-out;
}

.scanButtons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  width: 100%;
}

.cancelButton {
  background-color: #f44336;
  border: none;
  padding: 15px 30px;
  margin: 15px 0;
  cursor: pointer;
  font-size: 18px;
  color: #000;
  box-shadow: 0 0 10px #32cd32;
  width: 100%;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cancelButton:hover {
  background-color: #28a745;
  transform: scale(1.05);
}

.slide > div {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100vh;
}

.slideDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20% auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #32cd32;
  width: 70%;
  color: white;
  background: rgba(19, 56, 2, 0.8);
}

.slideHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px auto;
  top: 10px;
  border-radius: 10px;
  width: 98%;
  
}

.slideHeaderItem {
  color: white;
  padding: 10px;
  background: rgba(19, 56, 2, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px #32cd32;
}

.slide  span {
  padding: 10px;
  font-size: 40px;
  color: #32cd32;
  text-align: center;
}

.slide p {
  padding: 10px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.highScoreTitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #32cd32;
  text-shadow: 0 0 10px #32cd32, 0 0 20px #28a745;
  margin-bottom: 10px;
}

.highScoreTable {
  width: 100%;
  border-collapse: collapse;
}

.highScoreTable th,
.highScoreTable td {
  text-align: left;
  padding: 10px;
  color: #fff;
  font-size: 16px;
}

.highScoreTable th {
  color: #32cd32;
  font-weight: bold;
  text-shadow: 0 0 10px #32cd32;
  border-bottom: 2px solid #32cd32;
}

.highScoreTable td {
  border-bottom: 1px solid #444;
}

.highScoreTable tr:last-child td {
  border-bottom: none;
}

.highScoreName {
  color: #32cd32;
  font-weight: bold;
  text-shadow: 0 0 5px #32cd32;
}

.highScorePoints {
  color: #ffcc00;
  font-weight: bold;
}

.dialogOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialogBox {
  background-color: #111;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 100%; /* Adjust width as needed */
  max-width: 800px;
  max-height: 70%; /* Fixed height */
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px #32cd32;
}

.dialogTitle {
  font-size: 24px;
  color: #32cd32;
  margin-bottom: 10px;
}

.dialogContent {
  font-size: 16px;
  margin-bottom: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: calc(70% - 80px); /* Adjust for padding and title height */
  padding-right: 10px; /* Ensure padding for scroll */
}

.dialogCloseButton {
  background-color: #32cd32;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px #32cd32;
  align-self: center; /* Center the button horizontally */
  margin-top: auto; /* Push to the bottom */
}

.dialogCloseButton:hover {
  background-color: #28a745;
  transform: scale(1.05);
}

