/* General Body Style */
.body {
    margin: auto;
    padding: 0;
    height: 90%;
    width: 90%;
    background-color: #000; /* Ensure background is black */
    color: #32cd32;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Full-screen container with fluorescent green border and glow */
.fullScreenContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    width: 90vw;
    /* border: 5px solid #32cd32;
    box-shadow: 0 0 20px #32cd32;  */
    padding: 20px;
    background-color: #000; /* Ensure the container's background is black */
}

/* Game name with increased size and glow */
.gameName {
    font-size: 60px; /* Increased font size */
    font-weight: bold;
    text-shadow: 0 0 30px #32cd32; /* Enhanced glow effect */
    margin-bottom: 20px; /* Added margin for spacing */
}

/* Row container for score and level */
.rowContainer {
    display: flex;
    justify-content: space-evenly; /* Space between score and level */
    align-items: center;
    width: 100%; /* Ensure it takes the full width of the container */
    margin: 20px 0; /* Add margin for spacing above and below */
}

/* Score styling */
.scoreValue {
    font-size: 180px; /* Make the score bigger */
    font-weight: bold;
    text-shadow: 0 0 20px #32cd32;
}

/* Titles and values */
.statusTitle {
    font-size: 50px;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #32cd32;
}

/* Level styling within rowContainer */
.levelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statusValue {
    font-size: 48px;
    font-weight: bold;
}

/* Lives container */
.livesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Spacing between life images */
}

/* Heart image styling */
.lifeImage {
    width: 150px;
    height: 150px;
}

.playersContainer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border: 2px solid #32cd32;
    box-shadow: 0 0 10px #32cd32;
    margin-top: 20px;
    background-color: #111;
    border-radius: 10px;
}

.playerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
}

.colorCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.playerName {
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
}

.playerScore {
    font-size: 24px;
    color: #32cd32;
}
  

/* Responsive adjustments */
@media (min-width: 1024px) {
    .scoreValue {
        font-size: 200px; /* Increase size for larger screens */
    }

    .statusValue {
        font-size: 60px;
    }

    .lifeImage {
        width: 150px;
        height: 150px;
    }

    .gameName {
        font-size: 80px; /* Even larger font size on bigger screens */
    }
}
